/* Whole content Effect */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* Header Section css */
header {
    background-color: #F875AA;

}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

a {

    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;


}

.logotxt {
    font-family: "Sofia", cursive;
    font-size: 27px;
    color: #FF0080;
}

ul {
    list-style: none;
    margin: 0;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px 0;
}

/* Mid section Image Css */
.mainimg {
    min-height: 900px;
    background-image: url(food-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.midtext {

    position: relative;
    top: 366px;
    /* left: 452px; */
    font-size: 11rem;
    text-align: center;
    color: #ED2B2A;
    font-family: "Sofia", cursive;
}

/* Welcome Section Css */
h1 {
    text-align: center;
    font-size: 50px;
    color: #DA0C81;
}

p {
    color: #543310;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.5;
    padding: 25px 16px;
}

/* Food Item Section */
.toptxt {
    color: #FF204E;
    font-size: 38px;
}

.fooditems {
    background-color: #FCFFE0;
}


img {
    height: 202px;
    margin: 0 auto;
    padding: 12px 26px;
}

.item {

    display: inline-block;
}

figcaption {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.footertxt {
    color: white;
    font-size: 36px;
}

.grid_container {
    display: grid;
    grid-template-columns: 356px 356px 356px;
    grid-template-rows: 456px;
    justify-content: space-around;
    margin-bottom: 21px;
}

.card-text {
    padding: 0 !important;
    text-align: left !important;
}

.card-img-top>img {
    object-fit: cover;
    height: 202px;
    margin: 0 auto;
    padding: 12px 26px;
}

.py-3 {
    background-color: #FF8E8F;

}

.my-4 {

    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0.5rem;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 100%;
    transform: translatex(100%);
    color: #fff;
    padding: 0px 18px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 11px;
    transition: all 0.4s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 2;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}