* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdefdd;
}

.top-txt {

    font-size: 21px;
    font-family: "Sofia", cursive;
}

header {
    background-color: #FF9B9B;
    margin: 0;
    height: 62px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

ul {
    list-style: none;
}

.top-bar {
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 14px;
}

a:hover {
    border-bottom: 1px solid black;

}

.mainimg {
    min-height: 900px;
    background-image: url(food-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.midtext {

    position: relative;
    top: 366px;
    /* left: 452px; */
    font-size: 11rem;
    text-align: center;
    color: #ED2B2A;
    font-family: "Sofia", cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #DA0C81;
}

p {
    color: #543310;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.5;
    padding: 25px 16px;
}

.toptxt {
    color: #FF204E;
    font-size: 38px;
}

.fooditems {
    background-color: #FCFFE0;
}

img {
    height: 260px;
    padding: 16px 38px;
}

.item {

    display: inline-block;
}

figcaption {
    text-align: center;
    font-size: 32px;
}

.footertxt {
    color: white;
    font-size: 36px;
}

.Customer-top-bar {
    color: black;
    text-align: left;

    background-color: #FF8E8F;
}

.grid_container {
    display: grid;
    grid-template-columns: 356px 356px 356px;
    grid-template-rows: 456px;
    justify-content: space-around;
    margin-bottom: 21px;
}

.py-3 {
    background-color: #FF8E8F;

}